@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@600&family=Lato&family=Roboto:ital@1&family=Source+Code+Pro:wght@200&family=Water+Brush&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Lato', sans-serif;
}
.donate{
    position: relative;
    width: 100%;  
    margin-bottom: 70px; 
}
.donate img{
    width: 100%;
}
.lets-help{
    position: absolute;
    top: 25%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lets-help h1{
    font-size: 75px;
    width: 60%;
    margin-left: 25%;
    margin-bottom: 20px;
}
.lets-help h1 span{
    margin-left: 20%;
}
.lets-help p{
    width: 40%;
    margin-left:30% ;
    font-size:25px ;
    margin-bottom:50px ;
}
.lets-help a{
    color: white;
    font-size: 26px;
    text-decoration: none;
    background-color: #FF5959;
    width: 8%;
    margin-left: 45%;
    padding: 25px;
    border-radius: 10px;   
}
.donate-today{
    margin-bottom:50px;
}
.donate-today h1{
    font-size: 60px;
    margin-bottom:20px;
    text-align: center;
}
.donate-today p{
    font-size:25px;
    text-align: center;
    color: gray;
}
.donate-amount{
    color: gray;
    display: flex;
    justify-content:center;
    font-size: 50px;   
}
.donate-amount div{
    padding: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}
.selected-amount{
    color: #FF5959;
    border: 3px solid tomato;
    border-radius: 10px;
}
.donate-now{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
.input-amount{
    width: 40%;
    padding: 20px;
    margin-left: 25%;
    outline: none;
    margin-bottom: 20px;
    background-color: transparent;
    border: 0 solid;
    border-bottom: 1px solid tomato;
    text-align: center;
    font-size: 25px;
}
.donate-now a{
    width: 8%;
    padding: 15px;
    font-size: 25px;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    background-color: #FF5959;
    margin-left: 40%;
}
.donate-plan{
    margin-bottom: 100px;
}
.donate-plan h1{
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
}
.donate-plan p{
    font-size: 25px;
    color: gray;
    width: 50%;
    text-align: center;
    margin-left: 22%;
}
.half-width{
    display: flex;
    width: 100%;
    margin-bottom: 200px;
}
.half-width div{
    width: 20%;
    margin-left: 8%;
}
.half-width h1{
    margin-bottom: 20px;
}
.half-width p{
    color: gray;
    font-size: 25px;
}
.familly-food{
    background-color:hsla(187, 100%, 54%, 0.822);
    padding: 40px 30px;
}
.family-shelter{
    background-color: #FFEEEE;
    padding: 40px 30px;
}
.child-education{
    background-color: #FFF4D6;
    padding: 40px 30px;
}
.live-depend{
    display: flex;
    margin-bottom: 200px;
}
.live-depend div{
    width: 40%;
    margin-left: 10%;
}
.live-depend h1{
    font-size: 60px;
    width: 90%;
    margin-bottom: 30PX;
}
.live-depend p{
    font-size: 25px;
    color: gray;
    margin-bottom: 40px;
}
.live-depend div img{
    width: 456px;
    height: 477px;
    border-radius: 10px;
}
.live-depend div a{
    color: white;
    font-size: 25px;
    text-decoration: none;
    padding: 20px;
    background-color: #FF5959;
    border-radius: 10px;
}
.need-survive{
    margin-right: 10%;
}
.subscribe{
    margin-bottom: 150px;
}
.subscribe input{
    font-size:40px;
    padding: 15px 190px 15px 190px;
    color: gray;
    margin-left: 25%;
    border-radius: 10px;
    outline: none;
    background-color:#D9D9D9;
    border: 0 solid;
}
.subscribe a{
    color: white;
    font-size: 40px;
    text-decoration: none;
    background-color: #FF5959;
    border-radius: 0px 15px 15px 0px;
    padding: 13px;
    margin-left: -8%
}
.footer-distributed{
    background: #666;
    width: 100%;
    text-align: center;
    padding: 55px 50px;
  }
   .footer{
    width: 100%;
  }
  .footer-distributed h3{
    color:  #ffffff;
    font:36px;
    margin: 0;
    font-size: 30px;
  }
  .footer-distributed h3 span{
    color:  lightseagreen;
  }
 .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight:400;
    text-decoration: none;
    color:  inherit;
  }
  
  .copy-right{
    color:  #222;
    font-size: 20px;
    margin: 0;
  }
